/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
  /**Icons Panel**/
  .editor-block-list-item-magnolia-block-magnolia-post-grid,
  .editor-block-list-item-magnolia-block-magnolia-post-grid .block-editor-block-types-list__item-icon,
  .editor-block-list-item-magnolia-block-sidebar-post-grid,
  .editor-block-list-item-magnolia-block-sidebar-post-grid .block-editor-block-types-list__item-icon,
  .editor-block-list-item-magnolia-block-footer-post-grid, 
  .editor-block-list-item-magnolia-block-footer-post-grid .block-editor-block-types-list__item-icon {
  color: #275f62 !important;
   }
   /**panel end**/
.wp-block-magnolia-block-magnolia-post-grid {
	font-family: var(--mv-trellis-font-body, "Helvetica Neue", Arial, Helvetica, sans-serif);
	font-weight: 400;
	line-height: 1.625;

	a {
		color: #275f62;
		color: var(--mv-trellis-color-link, #275f62);
	}
}

.post-type-post, .post-type-page  {
	.wp-block-magnolia-block-magnolia-post-grid {
		li {
			border: 1px solid #e1e1e1;
			margin-bottom: 20px;
		}
	}
}

/**
Sidebar
**/
[data-type="magnolia-block/sidebar-post-grid"],
[data-type="magnolia-block/footer-post-grid"] {
	font-family: var(--mv-trellis-font-body, "Helvetica Neue", Arial, Helvetica, sans-serif);
	font-weight: 400;
	line-height: 1.625;

	a,
	a:visited {
		color: #275f62;
		color: var(--mv-trellis-color-link, #275f62);
	}

	a:focus,
	a:focus-within,
	a:hover {
		color: #44a6ab;
		color: var(--mv-trellis-color-link-hover, #44a6ab);
		text-decoration: underline;
	}
}